<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="vue.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
  <title>Techno</title>
</head>
<body>
  <div id="app">
    <header class="header">
      <img src="./assets/techno.svg" alt="Logo Techno" class="logo">
      <div class="carrinho_menu">
       R$ {{carrinhoTotal}} | {{carrinho.length}}
      </div>
    </header>
    <section class="modal" v-if="produto" @click="fechar_modal">
      <div class="modal_container">
        <div class="modal_img">
          <img :src="produto.img" :alt="produto.nome">
        </div>
        <div class="modal_dados">
          <button @click="produto = false" class="modal_fechar">X</button>
          <span class="modal_preco">R$ {{produto.preco}}</span>
          <h2 class="modal_titulo">{{produto.nome}}</h2>
          <p>{{produto.descricao}}</p>
          <button v-if="produto.estoque > 0" class="modal_btn" @click="adicionarItem">Adicionar item</button>
          <button v-else class="modal_btn esgotado" disabled>Produto Esgotado</button>
        </div>
        <div class="avaliacoes">
          <h2 class="avaliacoes_subtitulo">Avaliações</h2>
            <ul>
              <li v-for="avaliacao in produto.reviews" class="avaliacao">
                <p class="avaliacao_descricao">{{avaliacao.descricao}}</p>
                <p class="avaliacao_usuario">{{avaliacao.nome}} | {{avaliacao.estrelas}} estrelas</p>
              </li>
            </ul>
        </div>
      </div>
    </section>

    <section class="produtos">
      <div v-for="item in produtos" :key="item.id" class="produto" @click="abrirModal(item.id)">
        <img class="produto_img" :src="item.img" alt="produto.nome">
        <div class="produto_info">
          <span class="produto_preco">R$ {{ item.preco}}</span>
          <h2 class="produto_titulo">{{item.nome}}</h2>
        </div>
      </div>

      <section class="carrinho_modal" :class="{ativo: carrinhoAtivo}" @click="clickForaCarrinho">
        <div class="carrinho_conteiner">
          <button @click="carrinhoAtivo = false"></button>
          <h2 class="carrinho_titulo">Carrinho</h2>
          <div v-if="carrinho.length > 0">
            <ul class="carrinho_lista">
              <li v-for="(item, index) in carrinho" class="carrinho_item">
                <p>{{item.nome}}</p>
                <p class="carrinho-preco">R$ {{item.preco}}</p>
                <button class="carrinho_remover" @click="removerItem">X</button> 
              </li>
            </ul>
            <p class="carrinho_total">R$ {{carrinhoTotal}}</p>
            <button class="carrinho_finalizar">Finalizar pedido</button>
          </div>
          <p v-else>O carrinho está vazio</p>
        </div>
      </section>

    </section>
    <div class="alerta" :class="{ativo: alertaAtivo}">
      <p class="alerta_mensagem">{{ mensagemAlerta }}</p>
    </div>
  </div>


  <script src="./app.js"></script>
</body>
</html>